@import 'variables';
@import 'fonts';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/aos/src/sass/aos.scss';
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/light.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/brands.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/duotone.scss';
@import 'mixins';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: absolute;
  transition: transform 1000ms ease-in-out;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  > main {
    flex: 1 1 auto;
  }
}

::selection {
  background-color: rgba(lighten($secondary, 10%), .5);
  color: #FFFFFF;
}

p:empty {
  display: none;
}

a {
  transition: $transition;

  &:focus {
    outline: none !important;
  }
}

.fw-semibold {
  font-weight: 600;
}

.wysiwyg {
  position: relative;

  > *:last-child {
    margin-bottom: 0;
  }

  p > img {
    margin-top: 16px;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 8px;
      padding-left: 32px;
      position: relative;

      &:before {
        color: $secondary;
        content: '\f178';
        font-family: 'Font Awesome 5 Pro';
        left: 0;
        position: absolute;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  > ol {
    list-style: none;
    padding-left: 0;

    > li {
      counter-increment: count;
      margin-bottom: 4px;
      position: relative;
      padding-left: 28px;

      &:before {
        color: $secondary;
        content: counter(count) '.';
        font-weight: bold;
        left: 0;
        position: absolute;
        top: 0;
        width: 24px;
      }

      ol {
        list-style: none;
        margin: 8px 0 12px;
        padding-left: 0;

        > li {
          counter-increment: counter;
          margin-bottom: 4px;
          padding-left: 28px;
          position: relative;

          &:before {
            color: $secondary;
            content: counter(counter) '.';
            font-weight: bold;
            left: 0;
            position: absolute;
            top: 0;
            width: 24px;
          }
        }
      }
    }
  }

  &.alt {
    color: color-yiq($primary);
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.rounded {
  border-radius: .5rem !important;
}

.shadow {
  box-shadow: 0px 0px 12px 0px rgba($primary, .25) !important;
}

.bg-wrapper {
  overflow: hidden;
  position: relative;

  &:before {
    background-color: rgba($secondary, 0);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: $transition;
    width: 100%;
    z-index: 1;
  }

  &:after {
    align-items: center;
    background-color: transparent;
    border: 2px solid $quinary;
    border-radius: 100vh;
    color: $quinary;
    content: '\f061';
    display: flex;
    flex-direction: row;
    font-family: $font-awesome;
    font-size: $h4-font-size;
    height: 68px;
    justify-content: center;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.25) rotate(0deg);
    transition: $transition;
    width: 68px;
    z-index: 2;
  }
}

a:hover .bg-wrapper {
  position: relative;

  @include lg {
    position: relative;

    &:before {
      background-color: rgba($secondary, 1);
    }

    &:after {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) scale(1) rotate(310deg);
      transition: all .5s ease;
      transition-delay: .15s;
    }
  }
}

.nf-form-wrap {
  position: relative;

  .nf-error-msg {
    color: $secondary;
    margin-top: 8px;
    text-align: center;
  }

  .nf-error-required-error {
    display: none;
  }

  .nf-before-form-content {
    display: none;
  }

  .nf-form-content {
    max-width: 100%;
    padding: 0;

    .list-select-wrap > div div:after {
      display: none;
    }
  }

  .nf-pass.field-wrap .nf-field-element:after,
  .nf-error.field-wrap .nf-field-element:after {
    display: none;
  }

  .nf-pass .ninja-forms-field,
  .nf-error .ninja-forms-field {
    border-color: $secondary !important;
  }

  nf-fields-wrap {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;

    .nf-field-container {
      margin-bottom: 8px;

      @include md {
        margin-bottom: 24px;
      }

      input:not([type="button"]),
      textarea {
        background-color: transparent;
        border: 1px solid $secondary;
        border-radius: 100vh;
        color: $primary;
        height: auto;
        padding: 12px 24px 14px 24px;
        text-align: center;
        transition: $transition;
        width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;

        &:focus {
          box-shadow: 0px 0px 0px 4px rgba($secondary, .5);
          outline: none;

          &::placeholder {
            opacity: .5;
          }
        }

        &::placeholder {
          color: $primary;
          transition: $transition;
        }

        @include lg {
          text-align: left;
        }
      }

      textarea {
        border-radius: 32px;
        height: 128px;
      }
    }

    .textarea-container {
      margin-bottom: 0;

      @include md {
        margin-bottom: 16px;
      }
    }

    .listselect-wrap .nf-field-element {
      position: relative;

      > div {
        display: none;
      }

      &:after {
        color: $primary;
        content: '\f063';
        font-family: $font-awesome;
        font-weight: 400;
        pointer-events: none;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
      }

      select {
        background-color: color-yiq($primary);
        border: 1px solid $secondary;
        border-radius: 100vh;
        color: $primary;
        height: auto !important;
        padding: 12px 32px 14px 24px;
        text-align: center;
        transition: $transition;
        width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;

        @include lg {
          text-align: left;
        }

        &:focus {
          box-shadow: 0px 0px 0px 4px rgba($secondary, .5);
          outline: none;
        }
      }
    }

    .submit-container {
      margin-bottom: 0;
      text-align: center;

      @include lg {
        text-align: center;
      }

      .submit-wrap {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
      }

      .nf-field-element {
        position: relative;
        width: auto;

        &:before {
          color: $quinary;
          content: '\f061';
          font-family: $font-awesome;
          left: 50%;
          pointer-events: none;
          position: absolute;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      input {
        background-color: $secondary;
        border: none;
        border-radius: 100vh;
        display: inline-block;
        font-size: 0;
        height: 52px;
        max-width: 100%;
        padding: 16px;
        text-align: center;
        transition: $transition;
        width: 52px;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: $secondary;
          box-shadow: 0px 0px 0px 4px rgba($secondary, .5);
        }
      }
    }

    @include lg {
      display: flex;

      nf-field {
        flex: 100%;

        &:nth-child(-n+4) {
          flex: 50%;

          &:nth-child(odd) {
            padding-right: 12px;
          }

          &:nth-child(even) {
            padding-left: 12px;
          }
        }
      }
    }
  }
}

.slick-slider {
  position: relative;

  .slick-arrow {
    position: relative;

    &:focus {
      outline: none;
    }
  }

  &.slick-overflow {
    position: relative;

    > .slick-list {
      overflow: visible;
    }
  }
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  a, span {
    align-items: center;
    color: $primary;
    display: flex;
    flex-direction: row;
    height: 32px;
    justify-content: center;
    margin: 0 8px;
    position: relative;
    width: 32px;
    z-index: 2;

    &:before {
      background-color: $secondary;
      border-radius: 100vh;
      content: '';
      height: 32px;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) scale(0);
      transition: $transition;
      width: 32px;
      z-index: -1;
    }
  }

  span,
  a:hover {
    color: $quinary;

    &:before {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }
}

@each $label, $color in $theme-colors {
  .btn-#{$label} {
    background-color: $color;
    border: none;
    border-radius: 100vh;
    color: $quinary;
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    padding: 12px 28px 14px 28px;
    position: relative;
    text-align: center;
    transition: $transition;

    span {
      display: block;
      opacity: 1;
      position: relative;
      transition: $transition;
    }

    &:before {
      color: $quinary;
      content: '\f061';
      display: block;
      font-family: $font-awesome;
      font-weight: 400;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateX(-100%) translateY(-50%);
      transition: $transition;
      width: 100%;
    }
  }

  a:hover .btn-#{$label},
  .btn-#{$label}:hover {
    color: $quinary;

    @include lg {
      background-color: $color;
      box-shadow: 0px 0px 0px 4px rgba($color, .5);

      span {
        opacity: 0;
        transform: translateX(100%);
      }

      &:before {
        opacity: 1;
        transform: translateX(0%) translateY(-50%);
      }
    }
  }

  .btn-underline-#{$label} {
    color: $color;
    position: relative;
    transition: $transition;

    &.active:before {
      content: '';
      opacity: 1;
      width: 100%;
    }

    &.fw-semibold:before {
      height: 2px;
    }

    &:before {
      background-color: $color;
      bottom: -2px;
      content: '';
      height: 1px;
      left: 50%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transform: translateX(-50%);
      transition: $transition;
      width: 0;

      @include lg {
        content: '';
      }
    }
  }

  a:hover .btn-underline-#{$label},
  .btn-underline-#{$label}:hover {
    color: $color;

    &:before {
      opacity: 1;
      width: 100%;
    }
  }

  .btn-arrow-#{$label} {
    color: $color;
    display: inline-block;
    font-weight: 600;
    overflow: hidden;
    padding-right: 24px;
    position: relative;
    transition: $transition;

    &:before,
    &:after {
      color: $color;
      content: '\f061';
      font-family: $font-awesome;
      font-weight: 400;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: $transition;
    }

    &:before {
      right: 0;
    }

    &:after {
      left: -20px;
    }
  }

  a:hover .btn-arrow-#{$label},
  .btn-arrow-#{$label}:hover {
    color: $color;

    @include lg {
      padding-left: 24px;
      padding-right: 0;

      &:before {
        right: -20px;
      }

      &:after {
        left: 0;
      }
    }
  }
}

.btn-back {
  color: $primary;
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  padding-left: 24px;
  position: relative;
  transition: $transition;

  &:before,
  &:after {
    color: $secondary;
    content: '\f060';
    font-family: $font-awesome;
    font-weight: 400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: $transition;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: -20px;
  }
}

a:hover .btn-back,
.btn-back:hover {
  color: $primary;

  @include lg {
    padding-left: 0;
    padding-right: 24px;

    &:before {
      left: -20px;
    }

    &:after {
      right: 0;
    }
  }
}

#header {
  left: 0;
  position: fixed;
  top: 0;
  transition: $transition;
  width: 100%;
  z-index: 9;

  .logo img {
    height: 40px;
    width: auto;

    @include md {
      height: 48px;
    }

    @include lg {
      height: 64px;
    }

    @include xl {
      height: 72px;
    }
  }

  .alt.logo {
    transition: $transition;
  }

  .default.logo {
    opacity: 0;
    position: absolute;
    transition: $transition;
  }

  #fullmenu,
  #burger {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 10;

    &:focus {
      outline: none;
    }

    span:not(.burger) {
      color: $primary;
      transition: $transition;
    }

    .burger {
      background-color: $primary;
      height: 2px;
      position: relative;
      transition: $transition;
      width: 24px;

      &:before, &:after {
        background-color: $primary;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transition: $transition;
        width: 24px;
      }

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }

    &.alt {
      position: relative;

      span:not(.burger) {
        color: $quinary;
      }

      .burger {
        background-color: $quinary;

        &:before, &:after {
          background-color: $quinary;
        }
      }
    }

    &.open {
      position: relative;

      span:not(.burger) {
        color: $primary;
      }

      .burger {
        background-color: $primary;
        transform: rotate(45deg);

        &:before, &:after {
          background-color: $primary;
        }

        &:before {
          top: 0;
        }

        &:after {
          top: 0;
          transform: rotate(-90deg);
        }
      }
    }

    &:hover {
      position: relative;

      .burger:before,
      .burger:after {

        @include lg {
          top: 0;
        }
      }
    }
  }

  #burger {
    height: 18px;
  }

  #navigation-full ul,
  #navigation-mobile ul {
    align-items: center;
    flex-direction: column;
    height: 0;
    justify-content: center;
    left: 0;
    overflow: scroll;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: $transition;
    width: 100%;
    z-index: 9;

    &.open {
      pointer-events: all;

      li {
        opacity: 1;
        transition: all .75s ease .35s;
        transform: translateY(0) translateZ(0) !important;

        @for $i from 1 through 12 {
          &:nth-child(#{$i}) {
            transition-delay: #{256ms + ($i * 32ms)};
            visibility: visible;
          }
        }
      }
    }

    li {
      opacity: 0;
      position: relative;

      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          transform: translateY(#{64px + ($i * 8px)}) translateZ(0);
        }
      }
    }
  }

  #navigation-full ul {
    background-color: $quinary;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, .05);

    &.open {
      height: 50vh;

      @include lg {
        padding-top: 96px;
      }

      @include xl {
        padding-top: 104px;
      }
    }
  }

  #navigation-mobile ul {
    background-color: $quinary;

    &.open {
      height: 100vh;
    }
  }

  #shortcuts {
    position: relative;

    a {
      position: relative;

      @include lg {
        z-index: 1;

        &:before {
          background-color: $secondary;
          border-radius: 100vh;
          content: '';
          height: 40px;
          left: 50%;
          opacity: 0;
          position: absolute;
          top: 50%;
          transform: translateX(-50%) translateY(-50%) scale(0);
          transition: $transition;
          width: 40px;
          z-index: -1;
        }

        &:hover:before {
          opacity: .25;
          transform: translateX(-50%) translateY(-50%) scale(1);
        }
      }
    }

    &:before {
      background-color: $quaternary;
      height: 40px;
      width: 1px;

      @include lg {
        content: '';
      }
    }
  }

  &.scroll {
    background-color: $quinary;
    border-bottom: 1px solid $quaternary;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, .05);
    position: fixed;

    .alt.logo {
      opacity: 0;
    }

    .default.logo {
      opacity: 1;
    }

    #fullmenu,
    #burger {
      position: relative;

      span:not(.burger) {
        color: $primary;
      }

      .burger {
        background-color: $primary;

        &:before, &:after {
          background-color: $primary;
        }
      }
    }

    #navigation .btn-underline-quinary {
      color: $primary !important;

      &:before {
        background-color: $primary !important;
      }
    }

    #shortcuts:before {
      background-color: $primary;
    }
  }

  &.open {
    position: fixed;

    .alt.logo {
      opacity: 0;
    }

    .default.logo {
      opacity: 1;
    }
  }

  &:not(.alt) {
    background-color: $quinary;
    border-bottom: 1px solid $quaternary;
    position: sticky;
  }
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 56px;
  position: relative;

  &:before {
    background-color: rgba(0, 0, 0, .25);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &.front {

    @include lg {
      height: 100vh;
      min-height: 820px;
    }
  }

  &.slider {
    position: relative;

    .carousel-hero {
      padding-top: 32px;
      position: relative;

      .slick-arrow {
        background-color: transparent;
        border: none;
        left: 0;
        padding: 0;
        position: absolute;
        transition: $transition;
        top: 0;

        i {
          color: $quaternary;
          transition: $transition;
        }

        &.slick-disabled {
          opacity: .25;
          pointer-events: none;
        }

        &.slick-next {
          left: 32px;;
        }

        &:hover i {
          color: $secondary;
        }
      }

      .slick-dots {
        display: flex !important;
        flex-direction: row;
        left: 64px;
        list-style: none;
        margin: 0;
        padding-left: 0;
        position: absolute;
        top: 11px;
        width: 198px;

        li {
          display: flex;
          flex-direction: row;
          flex: 1 1 auto !important;

          &.slick-active button {
            background-color: $secondary;
          }

          button {
            background-color: $quaternary;
            border: none;
            font-size: 0;
            height: 2px;
            padding: 0;
            transition: $transition;
            width: 100%;
          }
        }

        @include xl {
          width: 256px;
        }
      }
    }

    .carousel-images {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .slick-list {
        height: 100%;
        pointer-events: none;

        .slick-track {
          height: 100%;

          .slick-slide > div {
            height: 100%;

            > div {
              height: 100%;

              > div {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
              }
            }
          }
        }
      }

      .slick-arrow {
        position: absolute;
      }
    }

    @include lg {
      height: 100vh;
      min-height: 820px;
    }
  }

  &.news {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include lg {
      height: 100vh;
      min-height: 820px;
    }
  }

  @include md {
    padding-top: 64px;
  }

  @include lg {
    padding-top: 96px;
  }

  @include xl {
    padding-top: 104px;
  }
}

.select-wrapper {
  position: relative;
  width: 100%;

  select {
    appearance: none;
    background-color: $quinary;
    border: none;
    padding: 0 !important;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  &:before {
    color: $secondary;
    content: '\f063';
    font-family: $font-awesome;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}

#search {
  position: relative;

  .search-types {
    position: relative;

    label {
      cursor: pointer;
      flex: 100%;
      position: relative;
      width: 100%;

      &:before {
        background-color: $secondary;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transition: $transition;
        width: 0%;
      }

      &:hover:before {
        width: 100%;
      }

      @include sm {
        flex: 50%;
        width: 50%;

        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      @include lg {
        flex: inherit;
        width: auto;
      }
    }

    input:checked + label {
      font-weight: bold;
      position: relative;

      &:before {
        width: 100%;
      }
    }

    @include lg {
      position: relative;

      &:before {
        background-color: $quaternary;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  .search-group {
    border-right: 0;

    @include lg {
      border-right: 1px solid $quaternary;
    }
  }

  input[type="submit"] {
    background-color: $secondary;
    border: none;
    border-radius: 100vh;
    color: $quinary;
    font-family: $font-awesome;
    height: 56px;
    width: 56px;

    @include lg {
      transition: $transition;

      &:hover {
        box-shadow: 0px 0px 0px 4px rgba($secondary, .5);
        transform: rotate(90deg);
      }
    }
  }
}

#pills-tab {
  position: relative;

  li {
    flex: 100%;
    position: relative;
    width: 100%;

    button {
      background: transparent;
      color: $primary;
      padding: 0;
      width: 100%;

      &:before {
        background-color: $secondary;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transition: $transition;
        width: 0%;
      }

      &.active {
        font-weight: bold;
      }

      &.active:before,
      &:hover:before {
        width: 100%;
      }
    }

    @include sm {
      flex: 50%;
      width: 50%;

      button {
        position: relative;

        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    @include lg {
      flex: inherit;
      width: auto;
    }
  }

  @include lg {
    position: relative;

    &:before {
      background-color: $quaternary;
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}

.carousel-featured {
  position: relative;

  > .slick-arrow {
    background-color: transparent;
    border: none;
    bottom: 0;
    color: $secondary;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    &.slick-prev {
      left: calc(50% - 16px);
    }

    &.slick-next {
      left: calc(50% + 16px);
    }

    &.slick-disabled {
      opacity: .5;
    }
  }
}

.property {
  position: relative;

  .gallery {
    position: relative;

    .carousel-gallery {
      position: relative;

      div {
        line-height: 0;
      }

      .slick-arrow {
        background-color: $secondary;
        border: none;
        border-radius: 100vh;
        color: $quinary;
        height: 44px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition;
        width: 44px;
        z-index: 2;

        &.slick-prev {
          left: 16px;
        }

        &.slick-next {
          right: 16px;
        }

        &.slick-disabled {
          opacity: 0;
        }

        @include lg {
          transition: $transition;

          &:hover {
            background-color: $quinary;
            color: $secondary;
            box-shadow: 0px 0px 0px 4px rgba($secondary, .5);
          }
        }
      }

      .slick-dots {
        bottom: 0;
        display: flex !important;
        flex-direction: row;
        left: 0;
        list-style: none;
        margin: 0;
        padding-left: 0;
        position: absolute;
        width: 100%;

        li {
          display: flex;
          flex-direction: row;
          flex: 1 1 auto !important;

          &.slick-active button {
            background-color: $secondary;
          }

          button {
            background-color: $quaternary;
            border: none;
            font-size: 0;
            height: 6px;
            padding: 0;
            transition: $transition;
            width: 100%;
          }
        }
      }
    }

    .note {
      left: 0;
      position: absolute;
      top: 0;
    }

    .heart {
      align-items: center;
      background-color: $quinary;
      border: none;
      border-radius: 100vh;
      color: $secondary;
      display: flex;
      flex-direction: row;
      height: 44px;
      justify-content: center;
      position: absolute;
      right: 16px;
      top: 16px;
      transition: $transition;
      width: 44px;
      z-index: 2;

      &:before {
        content: '\f004';
        font-family: $font-awesome;
        font-size: $h5-font-size;
        transition: $transition;
      }

      &:hover {
        background-color: $secondary;
        box-shadow: 0px 0px 0px 4px rgba($quinary, .5);
        color: $quinary;
      }
    }
  }
}

.item {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &.first {
    height: calc(100% - 96px);
    left: 16px;
    width: 62.5%;
    z-index: 2;
  }

  &.last {
    height: 100%;
    left: 96px;
    width: 60%;
    z-index: 1;
  }
}

.carousel-items {
  position: relative;

  .slick-arrow {
    background-color: transparent;
    border: none;
    bottom: 0;
    left: 50%;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: $transition;

    i {
      color: $secondary;
      transition: $transition;
    }

    &.slick-disabled {
      pointer-events: none;

      i {
        color: #E8E6D7;
      }
    }

    &.slick-next {
      left: calc(50% + 16px);
    }

    &.slick-prev {
      left: calc(50% - 16px);
    }

    &:hover i {
      color: $secondary;
    }

    @include lg {
      bottom: auto;
      left: auto;
      right: 0;
      top: 0;

      &.slick-next {
        left: auto;
        right: 0;
      }

      &.slick-prev {
        left: auto;
        right: 48px;
      }

      i {
        font-size: $h4-font-size;
      }
    }
  }

  .slick-dots {
    display: flex !important;
    flex-direction: row;
    left: 16px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    position: absolute;
    top: 11px;
    width: calc(100% - 128px);

    li {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto !important;

      &.slick-active button {
        background-color: $secondary;
      }

      button {
        background-color: #E8E6D7;
        border: none;
        font-size: 0;
        height: 4px;
        padding: 0;
        transition: $transition;
        width: 100%;
      }
    }
  }
}

.carousel-news,
.carousel-team {
  position: relative;

  > .slick-arrow {
    background-color: transparent;
    border: none;
    bottom: 0;
    color: $secondary;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    &.slick-prev {
      left: calc(50% - 16px);
    }

    &.slick-next {
      left: calc(50% + 16px);
    }

    &.slick-disabled {
      opacity: .5;
    }
  }
}

.signup {
  position: relative;

  .nf-form-content {
    height: 52px;
  }

  .nf-form-wrap {
    position: relative;

    .nf-error-msg {
      margin-top: 16px;
      text-align: center;

      @include lg {
        text-align: left;
      }
    }

    nf-fields-wrap {
      display: block;

      nf-field:last-of-type {
        height: 52px;
        position: absolute;
        right: 0;
        top: 0;
      }

      .nf-field-container input:not([type=button]) {
        padding-right: 64px;
      }
    }
  }
}

.addtoany_shortcode {
  position: relative;

  .addtoany_list {
    height: 32px;
    line-height: 32px !important;

    a {
      height: 32px;
      line-height: 32px !important;
      margin-left: 8px;
      margin-right: 8px;
      padding: 0;
      transition: $transition;

      &:hover {
        span {
          box-shadow: 0px 0px 0px 4px rgba($secondary, .5);
        }
      }

      span {
        align-items: center;
        background-color: $secondary !important;
        border-radius: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transition: $transition;

        svg {
          height: 24px;
          transition: $transition;
          width: 24px;
        }
      }

      @include lg {
        margin-left: 16px;
        margin-right: 0;
      }
    }
  }
}

.map {
  height: auto;
  padding-bottom: 100%;
  position: relative;
  width: 100%;

  @include lg {
    padding-bottom: 42.8571% ;
  }
}

.cc-window {
  font-family: $font-family-sans-serif !important;

  .cc-link {
    padding: 0;
    text-decoration: none;
  }

  .cc-btn {
    background-color: $secondary !important;
    border-radius: 100vh;
    color: $quinary !important;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 28px 14px 28px;

    &:hover {
      background-color: $secondary !important;
      box-shadow: 0px 0px 0px 4px rgba($secondary, .5);
      color: $quinary !important;
    }
  }
}

@include edge {
  .nf-form-cont {
    width: 100%;

    nf-fields-wrap nf-field {
      flex: none !important;
      padding: 0 !important;
      width: 100% !important;
    }
  }
}

@include ie {
  .nf-form-cont {
    width: 100%;

    nf-fields-wrap nf-field {
      flex: none !important;
      padding: 0 !important;
      width: 100% !important;
    }
  }

  select::-ms-expand {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  h1, .h1 {
    font-size: 1.75rem;
  }
  h2, .h2 {
    font-size: 1.5rem;
  }
  h3, .h3 {
    font-size: 1.3rem;
  }
  h4, .h4 {
    font-size: 1.2rem;
  }
  h5, .h5 {
    font-size: 1.1rem;
  }
  h6, .h6 {
    font-size: 1rem;
  }
}